# Ignore all Terraform state files, even in subdirectories
*.tfstate
*.tfstate.*
*.terraform/*
*.terraform.lock.hcl
*.terraform/

# Ignore all IDEA files
.idea/*
*.iml

# Ignore all MacOS files
.DS_Store

# DrawIO Backup files
*.drawio.bkp
